body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f2f2f2;
}

header {
    background: linear-gradient(to right, #ff7a00, #ffb300);
    padding: 30px 10px;
    text-align: center;
    color: white;
}

.subtitulo {
    margin-top: -10px;
    font-size: 14px;
}

.catalogo {
    padding: 20px;
}

.card {
    background: white;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.preco {
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

.botao {
    display: block;
    text-align: center;
    margin-top: 10px;
    padding: 10px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    color: white;
}

.botao.mercado {
    background: #3483fa;
}

.botao.wpp {
    background: #25d366;
}
