
/* Fundo geral da página */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(180deg, #ff7f00, #ffbb00);
    color: #fff;
    text-align: center;
    padding: 20px;
}

/* Título */
header h1 {
    font-size: 26px;
    margin-bottom: 20px;
    font-weight: bold;
}

/* Container do produto */
.produto {
    background: rgba(0, 0, 0, 0.25);
    padding: 15px;
    border-radius: 12px;
    max-width: 420px;
    margin: auto;
}

/* Imagem */
.foto-produto {
    width: 320px;
    height: auto;
    display: block;
    margin: 20px auto;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}


/* Preço */
.preco {
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0;
}

/* Botões */
.botao, .botao-whatsapp {
    display: block;
    padding: 14px;
    margin: 12px auto;
    width: 90%;
    max-width: 300px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    transition: 0.2s;
}

/* Botão Mercado Livre */
.botao {
    background-color: #3483fa;
}

.botao:hover {
    background-color: #2362c7;
}

/* Botão WhatsApp */
.botao-whatsapp {
    background-color: #25d366;
}

.botao-whatsapp:hover {
    background-color: #1aaa53;
}
